
<%= render 'layouts/header' %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="header">
          <h4 class="title">Create/Edit an Expense</h4>
            <p class="category">If required then change date/time</p>
            <br>
           
        </div>


      <%= form_for(@result) do |f| %>
        <% if @result.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>
            <ul>
              <% @result.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <!-- setting require to true to avoid empty values (except comments)-->
         <div class="field">
          <%= f.label :date_time %><br>
          <%= f.datetime_select :date_time, required: true %>
        </div>
        <div class="field">
          <%= f.label :classes, "What"  %><br>
          <%= f.select :classes,
            ['Electricity Bills', 'Clothes', 'Commuting', 'Credit','Food','Fuel', 'Rent','Leasure','Other1','Other2',
            'Other3','Other4','Other5','Other6','Other7', 'Other8','Other9'
             ] %>
        </div>

        <div class="field">
          <%= f.label :grade, "How Much" %><br>
          <%= f.number_field :grade, min: 1, max: 10000000, required: true %>
        </div>
        <div class="field">
          <%= f.hidden_field :email %><br>
          <!-- pre filling with the right email-->
          <!-- read only for the email to be visible but cannot be change to avoid mistakes-->
          <%= f.text_field :email, :value => @user_email, required: true, :readonly => true  %>
        </div>
        <div class="field">
          <%= f.label :comment, "Notes"  %><br>
          <%= f.text_field :comment %>
        </div>
        <div class="actions">
          <%= f.submit 'Add Expense', class: "btn purple-button" %>
        </div>
      <% end %>
      
       <div class="field">
         <tr>
 <th> <p><%= link_to("Back", root_path) %></p></th>
     <!-- deploy version   
         <!-- changing the back button to lead back to a particular student's result-->      
          <th> <p><%#= link_to("Back", "https://ejournal-reloaded-vadimmalakhovski.c9users.io/results/teacher_result/#{$studentEmail}") %></p></th>
       </tr> 
       </div> 
       
      </div>
     </div>
    </div>
  </div>
</div>
                              
                     
    