  <head>
      <title><%= yield(:title) %>Expences Dashboard</title>
  </head>
  <!-- the same applies to the rest of the code. The elemets that I've already declare that are comming form the template are similar below-->
  

<!-- Google Natural Language API-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.4/jquery.min.js"></script>

 <%= render 'layouts/header' %>
  <%# make divs stack upon one another%>
<p id="notice"><%= notice %></p>

<div class="content">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="header">
                <div class="container-fluid">
                    
                    <% if @results.length == 0 %>
                    
                    <h3 class="title text-warning">There are no expence created yet</h3>
                    <h5 class="category"><%= link_to 'Add an Expence', new_result_path, class: "btn purple-button"  %></h5>
                    <br>
                    <p><%#= link_to("Back", students_url) %></p>
                </div>
            </div>
            
        </div>
        <% else %>
        <h2 class="title">Analytics</h2>
        <h5 class="category"><%= link_to 'Add an Expence', new_result_path, class: "btn purple-button"  %></h5>
        <br>
        <p><%#= link_to("Back", students_url) %></p>
        
        <!-- Grades Column Chart Averages -->
        <div class="row">
          <div class="col-xs-12">
            <h3>Averages of all Expences</h3>
            <%= column_chart @resultsChart.group(:classes).average("grade") %>
          </div>
        </div>
        
        <!-- Line Chart Grades Trends -->
        <div class="row">
          <div class="col-xs-12">
            <h3>Expences Trends Table</h3>
            <%= line_chart @resultsChart.group(:classes).group(:updated_at).sum(:grade)%>
          </div>
        </div>        
        <!-- Grades Pie Chart Averages -->
        <div class="row">
          <div class="col-xs-12">
            <h3 class="text-center">Averages in Pie</h3>
            <%=  pie_chart @resultsChart.group(:classes).average("grade")  %>
          </div>
        </div>
<br>
                   <!-- Filters TABLE BEGIN-->      
                      
                      <br><br><br><br><br></br>
                      <h2 class="title">All Expences</h2>
                      <br>
                      <div class="card">
                       <div class="header">
                        <h4 class="title">Expences Table</h4>
                        <h5 class="category"><%= link_to 'Add an Expence', new_result_path, class: "btn purple-button"  %></h5>
                        <br>
                        <p><%#= link_to("Back", students_url) %></p>
                        
                    </div>
                    <div class="content table-responsive table-full-width">
                      <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <!--changing css left right center + deleteing some fields-->
                                <th class="text-left">Date time</th>
                                <th class="text-center">Subject</th>
                                <th class="text-center">Teacher</th>
                                <th class="text-center">Grade 1-100</th>
                                <th class="text-center">Behaviour</th>
                                <th class="text-center">Comment</th>
                                <th class="text-center">Edit / Destroy</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <% @results.each do |result| %>
                            <tr>
                                <td class="text-left"><%= result.date_time.strftime("%d/%m/%Y at %H:%M") %></td>
                                <td class="text-center"><%= result.classes %></td>
                                <td class="text-center"><%= result.teacher %></td>
                                <td class="text-center"><%= result.grade %></td>
                                <td class="text-center"><%= result.behaviour %></td>
                                <td class="text-center"><%= result.comment %></td>
                                <td class="text-center">
                                    <%= link_to 'Edit', edit_result_path(result) %>   /
                                    <%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                        <% end %>
                    </div>
                    
                </div>
                
                
                
           
